# Configurações do Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID_SECRET=

# Segurança JWT
JWT_SECRET=

# Configurações do Banco de Dados
DB_USERNAME=
DB_PASSWORD=

## Cloudflare R2 Settings
R2_ENDPOINT=

# Bucket
R2_BUCKET_NAME=
R2_BUCKET_URL=

# Clouflare API Key (Para o serviço de upload de imagens)
CLOUDFLARE_API=

# Credenciais para clientes S3
R2_ACCESS_KEY=
R2_SECRET_KEY=